anyascii==0.3.3
anyio==4.9.0
APScheduler==3.10.4
asgiref==3.9.1
beautifulsoup4==4.13.5
certifi==2025.6.15
charset-normalizer==3.4.2
defusedxml==0.7.1
Django==5.2.6
django-filter==25.1
django-modelcluster==6.4
django-permissionedforms==0.1
django-stubs-ext==5.2.2
django-taggit==6.1.0
django-tasks==0.8.1
django-treebeard==4.7.1
djangorestframework==3.16.1
draftjs_exporter==5.1.0
et_xmlfile==2.0.0
filetype==1.2.0
h11==0.16.0
httpcore==1.0.9
httpx==0.25.2
idna==3.10
laces==0.1.2
openpyxl==3.1.5
pillow==11.3.0
pillow_heif==1.1.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
python-telegram-bot==20.7
pytz==2025.2
requests==2.31.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==2.0.23
sqlparse==0.5.3
telepath==0.3.1
typing_extensions==4.14.0
tzlocal==5.3.1
urllib3==2.5.0
wagtail==7.1.1
wagtail-draftail-plugins==0.4.0
wagtail-modeladmin==2.2.0
whitenoise==6.11.0
Willow==1.11.0
